@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;1,100&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 43px;
    background-color: black;

}

nav svg {
    fill: #1ce783;
}

nav .login-btn {
    background: none;
    padding: 9px 15px;
    color: #A8AFBD;
    font-size: 15px;
    font-weight: 600;
    border-radius: 8px;
    transition: all 0.3s ease-in-out;
}

.menubtn {
    display: none;
    background-color: rgb(48, 48, 48);
    color: white;
    padding: 10px 15px;
    border-radius: 10px;
}

nav .login-btn:hover {
    background-color: rgb(131, 135, 145, 0.50);
    color: #fff;
}

.container {
    width: 50%;
    height: 500px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-around;
}

.main-container {
    width: auto;
    height: 70vh;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-around;
    background-color: black;
    background-image: url(./main.png);
    background-size: cover;
    background-position: cover;

}

.container svg {
    transform: scale(150%);
    fill: #1ce783;
}

.svg {
    margin: 10px;
}

.container p {
    color: rgba(255, 255, 255, 0.715);
    font-size: 12px;
    margin: 5px;
}

.container h1 {
    color: #1ce783;
    font-size: 40px;
    font-weight: 900;
    text-align: center;
}

.container h2 {
    color: #fff;
    font-size: 40px;
    text-align: center;
    margin-top: 10px;
}

.container h3 {
    color: #fff;
    font-size: 18px;
    font-weight: 500;
    text-align: center;
    margin-top: 10px;
}

.container .deal {
    width: 85%;
    margin-top: 10px;
    height: 50px;
    padding: 8px;
    font-size: 15px;
    font-weight: 500;
    background-color: #1ce783;
    border-radius: 5px;
    transition: all 0.2s ease-in-out;

}

.deal:hover {
    background-color: rgb(28, 231, 131, 0.55);
}

.container .description {
    color: #acacac;
    width: 75%;
    text-align: center;
    font-size: 8px;
    margin-bottom: 50px;
}

.ad {
    background-color: #2b2c33;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    color: #fff;
    padding: 25px 150px;
    padding-left: 40px;
    width: 100%;
}

.ad img {
    height: 100px;
}

.textsection {
    text-align: center;
    width: 400px;
}

.textsection h3 {
    font-weight: 400;
    font-size: 23px;
}

.textsection p {
    margin-top: 10px;
    font-size: 10px;
}

.sign-link {
    display: flex;
    flex-direction: column;
    text-align: center;
}

.sign-link button {
    background: none;
    color: white;
    border-color: #fff;
    padding: 14px 30px;
    border-radius: 5px;
    font-weight: 500;
    font-size: 15px;
    transition: all 0.2s ease-out;
}

.sign-link button:hover {
    background-color: rgba(255, 255, 255, 0.80);
    color: black;
}

.sign-link a {
    color: #b1b1b1;
    font-size: 12px;
    font-weight: 500;
    margin-top: 5px;
}


/* thirdbox */

.categories {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    text-align: center;
    /* height: 100vh; */
    color: white;
    background-color: #0b0c0f;
}

.category-box {
    display: flex;
    justify-content: space-between;
    padding: 20px 15px;
    flex-wrap: wrap;
}

.category-box .box {
    height: 442px;
    width: 290px;
    background-color: rgb(194, 194, 194);
    text-align: left;
    padding: 20px;
}

.categories .para-1 {
    margin-top: 90px;
    color: #1ce783;
    margin-bottom: 25px;
}

.categories h1 {
    font-size: 48px;
}

.categories .para-2 {
    font-size: 18px;
    margin-top: 20px;
    margin-bottom: 35px;
}

.box {
    background-size: cover;
}

.box:first-child {
    background-image: url(./images/original.jfif);
}

.box:nth-child(2) {
    background-image: url("https://cnbl-cdn.bamgrid.com/assets/8c630a19daa8615918152082839724f4dab6538939ba7d3bb45f8faa97acf1b9/original");
}

.box:nth-child(3) {
    background-image: url("https://cnbl-cdn.bamgrid.com/assets/89cea7fd1cb42712c4aeb2d6a9629f9c76a12691359f8feef14b2f93eddfe46c/original");
}

.box:last-child {
    background-image: url("https://cnbl-cdn.bamgrid.com/assets/4bae266f4178c145a7285dd09aafff4bc40a8e463cbcee1a8b3f27fb3f7a42ba/original");
}

.last-para {
    color: rgb(255, 255, 255, 0.65);
    text-align: end;
    font-size: 10px;
    margin-right: 35px;
    margin-bottom: 5px;
}

/* 4th section */

.only-text-box {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    height: 90vh;
    width: 100%;
    background-color: #0b0c0f;
    color: #fff;

}

.only-text-box .p1 {
    color: rgb(28, 231, 131);
}

.only-text-box .p2 {
    width: 47%;
    font-size: 18px;
    margin-bottom: 20px;
}

.only-text-box h1 {
    font-size: 50px;
    margin-bottom: 25px;
    margin-top: 10px;

}

.only-text-box a {
    color: #acacac;
    font-size: 18px;
    font-weight: 600;
}

/* 5th-section */

.fifth-section {
    height: 120vh;
    padding: 0px 150px;
    padding-top: 180px;
    background-image: url(./images/5th\ image.jfif);
    background-size: cover;
}

.main-text-box {
    width: 500px;
    height: 350px;
    background: none;
    color: #fff;
}

.live-box {
    display: flex;
}

.live-box p {
    margin-right: 40px;
    font-weight: 700;
    font-size: 12px;
    color: rgb(255, 255, 255, 0.5);
    letter-spacing: 1px;
    margin-top: 20px;
}

.live-box p:first-child {
    color: #fff;
}

.main-text-box h1 {
    font-size: 48px;
    letter-spacing: 1px;
    margin-top: 30px;
}

.main-text-box .p4 {
    margin-top: 20px;

}

.icons {
    display: flex;
}

.icons p {
    background-color: #fff;
    border-radius: 50px;
    width: 50px;
    margin-right: 20px;
    height: 50px;
    margin-top: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.icons img {
    height: 24px;
}

.main-text-box .p-5 {
    font-size: 11px;
    margin-top: 24px;
}

.main-text-box .p-5 span {
    text-decoration: underline;
}

.login-btn {
    display: block;
}

.plan {
    min-height: 200vh;
    width: 100%;
    text-align: center;
    background-color: #000;
    color: #fff;
    padding: 1px;
    display: flex;
    justify-content: center;
}

.planText {
    width: 78%;
}

.planText h1 {
    font-size: 45px;
    margin-top: 80px;

}

.planText p {
    font-size: 17px;
    margin: 16px 0 6px 0;

}

.planText h2 {
    font-size: 18px;

}

.planText .line {
    width: 100%;
    border-bottom: 1px solid rgba(200, 200, 200, 0.4);
    margin: 40px 0 16px 0;


}

.price {
    display: flex;
    width: 100%;
    justify-content: space-between;
    border-bottom: 1px solid rgba(200, 200, 200, 0.4);
    padding-bottom: 24px;
    position: sticky;
    top: 0;
    background: #000;
    flex-wrap: wrap;
}

.price div button {
    height: 48px;
    width: 262px;
    border-radius: 9px;
    padding: 6px 10px;
}
.price div button:hover{
background-color:#ffffffa2;}

.table {
    display: flex;
    border-bottom: 1px solid rgba(200, 200, 200, 0.4);
    flex-wrap: wrap;
    justify-content: center;
}

.table p {
    font-size: 14px;

}

.table .text {
    width: 45%;
    padding: 18px 0;
    margin: 0px 0 0px 0;
    text-align: start;
    display: flex;
}

.table .text-a {
    width: 55%;
    display: flex;

}

.table .text-a i {
    color: #fff !important;
}

.bi-dash-lg {
    color: white;
}

.table .text1 {
    width: 50%;
    padding: 18px 0;
    margin: 0px 0 0px 0;
}

.table .text1 {
    width: 50%;
    padding: 18px 0;
    margin: 0px 0 0px 0;
}

.rate {
    position: relative;
}

.add-on {
    flex-direction: column !important;
}

.on-btn {
    width: 80px !important;
}

.add-on h1 {
    font-size: 30px;
}

.price2,
.price1 {
    width: 50%;
    display: flex;
    justify-content: center;
}

.price2 .c {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.price2 .c div {
    height: 20px;
    width: 165px;
    border-radius: 40px;
    background-color: #1CE783;
    color: #000;
    font-size: 13px;
}

.hide-baar {
    width: 100%;
    justify-content: center;
    margin-bottom: 30px !important;
    border-bottom: 1px solid rgba(200, 200, 200, 0.4);
    padding: 18px 0;
}

footer {
    display: flex;
    flex-direction: column;
    padding: 70px 10%;
    background: #E8EAED;

}

.f1 {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid rgba(108, 106, 106, 0.434);
    flex-wrap: wrap;

}

.f1 ul {
    list-style: none;
    line-height: 1.6;
}

.f1 ul li:first-child {
    color: #000;
    font-weight: 700;
}

.invisibal-white {
    color: white !important;
}

.invisibal-black {
    color: rgb(0, 0, 0) !important;
}

.social {
    margin: 60px 0;
}

.social i {
    color: rgb(76, 76, 76);
    font-size: 26px;
    margin: 10px 10px 10px 10px;
}

.end {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
}

.end li {
    margin: 0 20px;
    font-size: 12px;
}


@media(max-width:768px) {
    .login-btn {
        display: none;
    }

    .menubtn {
        display: block;
    }

    .description {
        display: auto;
    }

    .container {
        width: 100%;
    }

    .container h2 {
        font-size: 25px;
    }

    .container h3 {
        font-size: 15px;
    }


    .ad {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100%;
    }

    .ad img {
        height: 50px;
    }

    .textsection h3 {
        font-size: 13px;
        margin-top: 15px;
    }

    .sign-link button {
        margin-top: 10px;
    }

    .categories h1 {
        font-size: 35px;
    }

    .categories .para-2 {
        font-size: 18px;
    }

    .only-text-box .p2 {
        width: 80%;
        font-size: 12px;
    }

    .category-box {
        padding: 20px;
        justify-content: center;
    }

    .last-para {
        text-align: center;
        margin-right: 0;
    }

    .table {
        justify-content: center;
    }

    .table .text {
        width: 90%;
    }

    .table .text-a {
        width: 100%;
    }

    .price {
        top: -100px;
    }

    .price2,
    .price1 {
        width: 100%;
        display: flex;
        justify-content: center;
    }

    .price div button {
        height: 38px;
        width: 130px;
        border-radius: 7px;
        padding: 1px 6px;
        font-size: 13px;
    }

    .planText p {
        font-size: 12px;
        margin: 16px 0 6px 0;
    }

    .on-btn {
        display: none;
    }

    .planText {
        width: 90%;
    }

    .fifth-section {
        padding: 20px;
    }

    .only-text-box h1 {
        font-size: 38px;
    }

    .live-box {
        justify-content: space-between;
        padding: 0 20px;
    }

    .live-box p {
        margin-right: 0;
    }

    .main-text-box {
        width: 100%;
        text-align: center;
    }

    .main-text-box h1 {
        margin-top: 100px;
        text-align: center;
        font-size: 30px;
    }

    .main-text-box .p4 {
        font-size: 15px;
        /* padding: 0 40px; */
        text-align:
            center;
    }

    .icons {
        justify-content: center;
    }
    footer{
        padding: 
        20px;
    }
    .end{
        flex-direction: column;
    }
    .end li{
        margin-top: 5px;
    }
    .social{
        margin: 20px 0;
    }
footer .f1{
    display: none;
}
}